
@{
    ViewData["Title"] = "Contact";
}

    <div class="container">
        <div class="py-5 text-center">
            <h2>Contact us</h2>
            <p class="lead">Fill out the form and tell us which API package you'd like to use, and we'll send you a checkout link together with your API key.</p>
        </div>

        <div class="row">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Contact</h4>
                <form class="needs-validation" novalidate="">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="company">Company Name</label>
                        <input type="text" class="form-control" id="company" placeholder="E.g. Google" required="">
                        <div class="invalid-feedback">
                            Please enter your shipping company name.
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <label for="message">Contact us regarding API package</label>
                            <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <select class="custom-select d-block w-100" id="country" required="">
                                <option value="">Choose...</option>
                                <option>Sweden</option>
                                <option>Norway</option>
                                <option>Denmark</option>
                                <option>Iceland</option>
                                <option>Finland</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required="">
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Send message</button>
                </form>
            </div>
        </div>
    </div>

